;s31_n:


;Section=  1

	DB	$A						;Tempo= 130 beat/Min
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB	$20,$02						;Ch0 Octave= 2
	DB		$21,$02					;Ch1 Octave= 2
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$1D			;CH4 Instrument/Speech= 29
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C7		;Ch4 play Fa#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C9		;Ch4 play So#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section=  2

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$C4		;Ch4 play Re#
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB					$C2		;Ch4 play Do#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C4		;Ch4 play Re#
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B6			;Ch3 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C2		;Ch4 play Do#
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B6			;Ch3 play Fa 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB					$C9		;Ch4 play So#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section=  3

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$8					;CH2 Volume Level= 08
	DB			$33,$8				;CH3 Volume Level= 08
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section=  4

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B2			;Ch3 play Do#
	DB					$C7		;Ch4 play Fa#
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$31,$6						;CH1 Volume Level= 06
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$05				;Ch2 Octave= 5
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2

;Section=  5

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$D					;CH2 Instrument/Speech= 13
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$2C,$1E			;CH4 Instrument/Speech= 30
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C7		;Ch4 play Fa#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C9		;Ch4 play So#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section=  6

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$C9		;Ch4 play So#
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AB				;Ch2 play La#
	DB				$B6			;Ch3 play Fa 
	DB					$C2		;Ch4 play Do#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C4		;Ch4 play Re#
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C7		;Ch4 play Fa#
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C4		;Ch4 play Re#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AB				;Ch2 play La#
	DB				$B6			;Ch3 play Fa 
	DB					$C8		;Ch4 play So 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section=  7

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section=  8

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B2			;Ch3 play Do#
	DB					$C7		;Ch4 play Fa#
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$31,$6						;CH1 Volume Level= 06
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$05				;Ch2 Octave= 5
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2

;Section=  9

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$18				;CH3 Instrument/Speech= 24
	DB				$2C,$18			;CH4 Instrument/Speech= 24
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$91						;CH0 Instrument/Speech= 145
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB		$32,$F					;CH2 Volume Level= 15
	DB		$2A,$18					;CH2 Instrument/Speech= 24
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$8A						;CH0 Instrument/Speech= 138
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$91						;CH0 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 10

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A2				;Ch2 play Do#
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A2				;Ch2 play Do#
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A2				;Ch2 play Do#
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 11

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B3			;Ch3 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$01				;Ch2 Octave= 1
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 12

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$8				;CH3 Volume Level= 08
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B4			;Ch3 play Re#
	DB					$CB		;Ch4 play La#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B7			;Ch3 play Fa#
	DB					$C2		;Ch4 play Do#
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$31,$6						;CH1 Volume Level= 06
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 13

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$13					;CH2 Instrument/Speech= 19
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$13				;CH3 Instrument/Speech= 19
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$1A			;CH4 Instrument/Speech= 26
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C9		;Ch4 play So#
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C9		;Ch4 play So#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$CB		;Ch4 play La#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 14

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$C0		;Ch4 rest
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AB				;Ch2 play La#
	DB				$B6			;Ch3 play Fa 
	DB					$C9		;Ch4 play So#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$C2		;Ch4 play Do#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB					$C2		;Ch4 play Do#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AB				;Ch2 play La#
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 15

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C9		;Ch4 play So#
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C9		;Ch4 play So#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C9		;Ch4 play So#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 16

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C8		;Ch4 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C9		;Ch4 play So#
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B2			;Ch3 play Do#
	DB					$CB		;Ch4 play La#
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C9		;Ch4 play So#
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$31,$6						;CH1 Volume Level= 06
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C8		;Ch4 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C8		;Ch4 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C8		;Ch4 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2

;Section= 17

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$A					;CH2 Volume Level= 10
	DB		$2A,$6					;CH2 Instrument/Speech= 06
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$6				;CH3 Instrument/Speech= 06
	DB				$34,$F			;CH4 Volume Level= 15
	DB				$2C,$18			;CH4 Instrument/Speech= 24
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 18

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$CC		;Ch4 play Si 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AB				;Ch2 play La#
	DB				$B6			;Ch3 play Fa 
	DB					$C2		;Ch4 play Do#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A9				;Ch2 play So#
	DB				$B6			;Ch3 play Fa 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AB				;Ch2 play La#
	DB				$B6			;Ch3 play Fa 
	DB					$C2		;Ch4 play Do#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 19

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B1			;Ch3 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C9		;Ch4 play So#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 20

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B2			;Ch3 play Do#
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$31,$6						;CH1 Volume Level= 06
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C2		;Ch4 play Do#
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$05				;Ch2 Octave= 5
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$B8			;Ch3 play So 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$6						;CH0 Volume Level= 06
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$7						;CH0 Volume Level= 07
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2

;Section= 21

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$91						;CH0 Instrument/Speech= 145
	DB		$32,$F					;CH2 Volume Level= 15
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$91						;CH0 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 22

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A2				;Ch2 play Do#
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A2				;Ch2 play Do#
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A2				;Ch2 play Do#
	DB				$B9			;Ch3 play So#
	DB					$C6		;Ch4 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 23

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$31,$8						;CH1 Volume Level= 08
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D9	;Ch5 play So#
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B3			;Ch3 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$C			;CH4 Volume Level= 12
	DB			$22,$01				;Ch2 Octave= 1
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B4			;Ch3 play Re#
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 24

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B4			;Ch3 play Re#
	DB					$CB		;Ch4 play La#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B7			;Ch3 play Fa#
	DB					$C2		;Ch4 play Do#
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B6			;Ch3 play Fa 
	DB					$C1		;Ch4 play Do 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$31,$6						;CH1 Volume Level= 06
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$90						;CH0 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$B						;CH0 Volume Level= 11
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$B						;CH1 Volume Level= 11
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A4				;Ch2 play Re#
	DB				$BB			;Ch3 play La#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$31,$C						;CH1 Volume Level= 12
	DB	$29,$84						;CH1 Instrument/Speech= 132
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B8			;Ch3 play So 
	DB					$C4		;Ch4 play Re#
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D4	;Ch5 play Re#
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2

;Section= 25

	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$20	;Beat= 32
	DB	$3F						;Song ended
