;wine1_n:


;Section=  1

	DB	$7						;Tempo= 100 beat/Min
	DB		$32,$3					;CH2 Volume Level= 03
	DB		$2A,$21					;CH2 Instrument/Speech= 33
	DB			$33,$1				;CH3 Volume Level= 01
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$1			;CH4 Volume Level= 01
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$1		;CH5 Volume Level= 01
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB			$AA				;Ch2 play La 
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  2

	DB				$23,$00			;Ch3 Octave= 0
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$00			;Ch3 Octave= 0
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  3

	DB				$34,$2			;CH4 Volume Level= 02
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$D5	;ch5 play Mi 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  4

	DB				$23,$00			;Ch3 Octave= 0
	DB						$25,$02	;Ch5 Octave= 2
	DB				$BC			;Ch3 play Si 
	DB					$C5		;ch4 play Mi 
	DB						$DC	;ch5 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$03	;Ch5 Octave= 3
	DB				$BC			;Ch3 play Si 
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  5

	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$03		;Ch4 Octave= 3
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$00			;Ch3 Octave= 0
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  6

	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  7

	DB				$23,$00			;Ch3 Octave= 0
	DB						$25,$02	;Ch5 Octave= 2
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;ch4 play Mi 
	DB						$DC	;ch5 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$03	;Ch5 Octave= 3
	DB				$BC			;Ch3 play Si 
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  8

	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$03		;Ch4 Octave= 3
	DB				$BC			;Ch3 play Si 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB						$25,$02	;Ch5 Octave= 2
	DB				$BC			;Ch3 play Si 
	DB					$C5		;ch4 play Mi 
	DB						$DC	;ch5 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$00			;Ch3 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB						$1	;Beat=  1

;Section=  9

	DB		$32,$4					;CH2 Volume Level= 04
	DB						$25,$03	;Ch5 Octave= 3
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB			$AC				;Ch2 play Si 
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1

;Section= 10

	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB			$A8				;Ch2 play So 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;ch4 play La 
	DB						$D5	;ch5 play Mi 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB						$1	;Beat=  1

;Section= 11

	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$2		;CH5 Volume Level= 02
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB				$23,$01			;Ch3 Octave= 1
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$D5	;ch5 play Mi 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB				$B1			;Ch3 play Do 
	DB					$CA		;ch4 play La 
	DB						$1	;Beat=  1
	DB				$23,$01			;Ch3 Octave= 1
	DB						$25,$03	;Ch5 Octave= 3
	DB				$B1			;Ch3 play Do 
	DB						$D1	;ch5 play Do 
	DB						$1	;Beat=  1
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB				$B1			;Ch3 play Do 
	DB					$C5		;ch4 play Mi 
	DB						$9	;Beat=  9
	DB			$A0				;Ch2 rest
	DB						$4	;Beat=  4

;Section= 12

	DB		$32,$3					;CH2 Volume Level= 03
	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$AC				;Ch2 play Si 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB						$4	;Beat=  4

;Section= 13

	DB			$A5				;Ch2 play Mi 
	DB						$8	;Beat=  8
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A3				;Ch2 play Re 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB			$33,$2				;CH3 Volume Level= 02
	DB			$2B,$6				;CH3 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB					$24,$02		;Ch4 Octave= 2
	DB					$C3		;ch4 play Re 
	DB						$2	;Beat=  2
	DB						$25,$02	;Ch5 Octave= 2
	DB						$D7	;ch5 play Fa#
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$6	;Beat=  6
	DB			$A0				;Ch2 rest
	DB						$4	;Beat=  4

;Section= 14

	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$AC				;Ch2 play Si 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB					$C8		;ch4 play So 
	DB						$2	;Beat=  2
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB					$24,$03		;Ch4 Octave= 3
	DB					$C5		;ch4 play Mi 
	DB						$a	;Beat= 10

;Section= 15

	DB	$5						;Tempo=  80 beat/Min
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$AC				;Ch2 play Si 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$1			;CH4 Volume Level= 01
	DB				$23,$01			;Ch3 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB					$24,$01		;Ch4 Octave= 1
	DB					$C8		;ch4 play So 
	DB						$4	;Beat=  4
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$C5		;ch4 play Mi 
	DB						$4	;Beat=  4

;Section= 16

	DB	$3						;Tempo=  60 beat/Min
	DB		$32,$2					;CH2 Volume Level= 02
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$22,$01				;Ch2 Octave= 1
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2

;Section= 17

	DB	$5						;Tempo=  80 beat/Min
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$24,$01		;Ch4 Octave= 1
	DB			$A5				;Ch2 play Mi 
	DB					$C5		;ch4 play Mi 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB						$4	;Beat=  4
	DB			$AC				;Ch2 play Si 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$4	;Beat=  4

;Section= 18

	DB	$6						;Tempo=  90 beat/Min
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$2				;CH3 Volume Level= 02
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$2			;CH4 Volume Level= 02
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB	$20,$02						;Ch0 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$4	;Beat=  4
	DB		$32,$3					;CH2 Volume Level= 03
	DB		$2A,$6					;CH2 Instrument/Speech= 06
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$24,$01		;Ch4 Octave= 1
	DB			$A5				;Ch2 play Mi 
	DB					$C5		;ch4 play Mi 
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4

;Section= 19

	DB	$8						;Tempo= 110 beat/Min
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$4	;Beat=  4
	DB					$35,$6		;CH5 Volume Level= 06
	DB						$D5	;ch5 play Mi 
	DB						$8	;Beat=  8
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4

;Section= 20

	DB	$A						;Tempo= 130 beat/Min
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB						$25,$00	;Ch5 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB					$35,$4		;CH5 Volume Level= 04
	DB						$25,$01	;Ch5 Octave= 1
	DB						$D5	;ch5 play Mi 
	DB						$8	;Beat=  8
	DB			$33,$1				;CH3 Volume Level= 01
	DB				$34,$1			;CH4 Volume Level= 01
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4

;Section= 21

	DB	$C						;Tempo= 150 beat/Min
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB						$25,$00	;Ch5 Octave= 0
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$35,$7		;CH5 Volume Level= 07
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$8	;Beat=  8
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$2				;CH3 Volume Level= 02
	DB				$34,$2			;CH4 Volume Level= 02
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4

;Section= 22

	DB	$10						;Tempo= 190 beat/Min
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$35,$4		;CH5 Volume Level= 04
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$8	;Beat=  8
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$35,$3		;CH5 Volume Level= 03
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$8	;Beat=  8
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$1				;CH3 Volume Level= 01
	DB				$34,$1			;CH4 Volume Level= 01
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4

;Section= 23

	DB	$7						;Tempo= 100 beat/Min
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$35,$2		;CH5 Volume Level= 02
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB				$34,$3			;CH4 Volume Level= 03
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB					$35,$5		;CH5 Volume Level= 05
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 24

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 25

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 26

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$6	;Beat=  6
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$17				;CH3 Instrument/Speech= 23
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB		$21,$02					;Ch1 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 27

	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 28

	DB	$8						;Tempo= 110 beat/Min
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$F					;CH2 Volume Level= 15
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 29

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 30

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 31

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$29,$89						;CH1 Instrument/Speech= 137
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$18				;CH3 Instrument/Speech= 24
	DB				$34,$8			;CH4 Volume Level= 08
	DB					$35,$8		;CH5 Volume Level= 08
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$98					;Ch1 play So 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 32

	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 33

	DB	$9						;Tempo= 120 beat/Min
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$13					;CH2 Instrument/Speech= 19
	DB			$33,$4				;CH3 Volume Level= 04
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB						$6	;Beat=  6
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 34

	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB						$6	;Beat=  6
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2

;Section= 35

	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$33,$7				;CH3 Volume Level= 07
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB						$6	;Beat=  6
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2

;Section= 36

	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$6		;CH5 Volume Level= 06
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$91					;Ch1 play Do 
	DB						$6	;Beat=  6
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2

;Section= 37

	DB	$9						;Tempo= 120 beat/Min
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$32,$9					;CH2 Volume Level= 09
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$8			;CH4 Volume Level= 08
	DB					$35,$8		;CH5 Volume Level= 08
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;ch4 play Si 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D5	;Ch5 play Mi 
	DB						$8	;Beat=  8
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 38

	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$01				;Ch2 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$17					;CH2 Instrument/Speech= 23
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$01			;Ch3 Octave= 1
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$8	;Beat=  8
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2

;Section= 39

	DB	$9						;Tempo= 120 beat/Min
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$00				;Ch2 Octave= 0
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$32,$8					;CH2 Volume Level= 08
	DB				$34,$8			;CH4 Volume Level= 08
	DB					$35,$8		;CH5 Volume Level= 08
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C1		;ch4 play Do 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$8	;Beat=  8
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2

;Section= 40

	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB		$32,$6					;CH2 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$6		;CH5 Volume Level= 06
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB				$23,$00			;Ch3 Octave= 0
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$8	;Beat=  8
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2

;Section= 41

	DB	$A						;Tempo= 130 beat/Min
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$2	;Beat=  2
	DB			$2B,$1D				;CH3 Instrument/Speech= 29
	DB				$23,$03			;Ch3 Octave= 3
	DB				$BC			;Ch3 play Si 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$04			;Ch3 Octave= 4
	DB				$B3			;Ch3 play Re 
	DB						$2	;Beat=  2
	DB		$32,$A					;CH2 Volume Level= 10
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B3			;Ch3 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 42

	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B5			;Ch3 play Mi 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 43

	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$05			;Ch3 Octave= 5
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B8			;Ch3 play So 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 44

	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$2D,$2		;CH5 Instrument/Speech= 02
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$CA		;ch4 play La 
	DB						$D6	;ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$2A,$1C					;CH2 Instrument/Speech= 28
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$17				;CH3 Instrument/Speech= 23
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2

;Section= 45

	DB			$22,$03				;Ch2 Octave= 3
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B3			;Ch3 play Re 
	DB					$C6		;Ch4 play Fa 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C6		;Ch4 play Fa 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 46

	DB	$B						;Tempo= 140 beat/Min
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$2D,$19		;CH5 Instrument/Speech= 25
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$6		;CH5 Volume Level= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$6	;Beat=  6
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$00			;Ch3 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 47

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$00			;Ch3 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$6		;CH5 Volume Level= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$6	;Beat=  6
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$00			;Ch3 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB			$33,$3				;CH3 Volume Level= 03
	DB				$34,$3			;CH4 Volume Level= 03
	DB					$35,$3		;CH5 Volume Level= 03
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$00		;Ch4 Octave= 0
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 48

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB		$32,$4					;CH2 Volume Level= 04
	DB			$33,$2				;CH3 Volume Level= 02
	DB				$34,$2			;CH4 Volume Level= 02
	DB					$35,$2		;CH5 Volume Level= 02
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$00			;Ch3 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB				$34,$3			;CH4 Volume Level= 03
	DB					$35,$3		;CH5 Volume Level= 03
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$6	;Beat=  6
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB				$23,$00			;Ch3 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2

;Section= 49

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$32,$7					;CH2 Volume Level= 07
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$9					;CH2 Volume Level= 09
	DB			$33,$7				;CH3 Volume Level= 07
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 50

	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$32,$A					;CH2 Volume Level= 10
	DB		$2A,$1A					;CH2 Instrument/Speech= 26
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$18				;CH3 Instrument/Speech= 24
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$2D,$18		;CH5 Instrument/Speech= 24
	DB			$22,$01				;Ch2 Octave= 1
	DB				$23,$00			;Ch3 Octave= 0
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$6	;Beat=  6
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$22,$03				;Ch2 Octave= 3
	DB		$91					;Ch1 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$34,$3			;CH4 Volume Level= 03
	DB					$35,$3		;CH5 Volume Level= 03
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 51

	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB			$22,$01				;Ch2 Octave= 1
	DB				$23,$00			;Ch3 Octave= 0
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$6	;Beat=  6
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 52

	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$33,$3				;CH3 Volume Level= 03
	DB				$34,$3			;CH4 Volume Level= 03
	DB					$35,$3		;CH5 Volume Level= 03
	DB			$22,$01				;Ch2 Octave= 1
	DB				$23,$00			;Ch3 Octave= 0
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$6	;Beat=  6
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2

;Section= 53

	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$35,$9		;CH5 Volume Level= 09
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 54

	DB	$C						;Tempo= 150 beat/Min
	DB	$28,$89						;CH0 Instrument/Speech= 137
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$8				;CH3 Volume Level= 08
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$4					;CH2 Volume Level= 04
	DB		$2A,$1C					;CH2 Instrument/Speech= 28
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 55

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 56

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB					$CC		;Ch4 play Si 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B5			;Ch3 play Mi 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B3			;Ch3 play Re 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A0				;Ch2 rest
	DB				$B3			;Ch3 play Re 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 57

	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$2C,$B			;CH4 Instrument/Speech= 11
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CA		;Ch4 play La 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB		$32,$F					;CH2 Volume Level= 15
	DB		$2A,$D					;CH2 Instrument/Speech= 13
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$17				;CH3 Instrument/Speech= 23
	DB				$2C,$18			;CH4 Instrument/Speech= 24
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$98					;Ch1 play So 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 58

	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$4	;Beat=  4
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 59

	DB	$C						;Tempo= 150 beat/Min
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$4					;CH2 Volume Level= 04
	DB		$2A,$17					;CH2 Instrument/Speech= 23
	DB			$2B,$7				;CH3 Instrument/Speech= 07
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$B		;CH5 Instrument/Speech= 11
	DB			$22,$01				;Ch2 Octave= 1
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2

;Section= 60

	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$9					;CH2 Volume Level= 09
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$35,$9		;CH5 Volume Level= 09
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$00				;Ch2 Octave= 0
	DB					$24,$00		;Ch4 Octave= 0
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B7			;Ch3 play Fa#
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2

;Section= 61

	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$4				;CH3 Volume Level= 04
	DB				$34,$4			;CH4 Volume Level= 04
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$91						;CH0 Instrument/Speech= 145
	DB		$32,$C					;CH2 Volume Level= 12
	DB		$2A,$7					;CH2 Instrument/Speech= 07
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$17				;CH3 Instrument/Speech= 23
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BC			;Ch3 play Si 
	DB					$C7		;Ch4 play Fa#
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB			$A3				;Ch2 play Re 
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4

;Section= 62

	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AA				;Ch2 play La 
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BC			;Ch3 play Si 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$3			;CH4 Volume Level= 03
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4

;Section= 63

	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BC			;Ch3 play Si 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB			$AA				;Ch2 play La 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 64

	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$A3				;Ch2 play Re 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 65

	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B2			;Ch3 play Do#
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BC			;Ch3 play Si 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB			$A3				;Ch2 play Re 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 66

	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B7			;Ch3 play Fa#
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB			$A3				;Ch2 play Re 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B5			;Ch3 play Mi 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB			$A5				;Ch2 play Mi 
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4

;Section= 67

	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B7			;Ch3 play Fa#
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB					$C8		;ch4 play So 
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB		$32,$F					;CH2 Volume Level= 15
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$C7		;ch4 play Fa#
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4
	DB			$AC				;Ch2 play Si 
	DB					$C7		;ch4 play Fa#
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$AA				;Ch2 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D2	;ch5 play Do#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B7			;Ch3 play Fa#
	DB					$C7		;Ch4 play Fa#
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$F		;CH5 Volume Level= 15
	DB			$A5				;Ch2 play Mi 
	DB					$C7		;ch4 play Fa#
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4

;Section= 68

	DB		$32,$A					;CH2 Volume Level= 10
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB			$A5				;Ch2 play Mi 
	DB					$C7		;ch4 play Fa#
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB				$B0			;Ch3 rest
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB		$32,$F					;CH2 Volume Level= 15
	DB		$2A,$6					;CH2 Instrument/Speech= 06
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$35,$9		;CH5 Volume Level= 09
	DB			$AC				;Ch2 play Si 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 69

	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$A5				;Ch2 play Mi 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$1		;CH5 Instrument/Speech= 01
	DB					$24,$00		;Ch4 Octave= 0
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B7			;Ch3 play Fa#
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB					$C0		;ch4 rest
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB					$24,$01		;Ch4 Octave= 1
	DB					$C7		;ch4 play Fa#
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$A3				;Ch2 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 70

	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C3		;ch4 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$28,$93						;CH0 Instrument/Speech= 147
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB					$24,$00		;Ch4 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$7				;CH3 Instrument/Speech= 07
	DB				$23,$04			;Ch3 Octave= 4
	DB				$B3			;Ch3 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$23,$03			;Ch3 Octave= 3
	DB				$BC			;Ch3 play Si 
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 71

	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$CA		;ch4 play La 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB					$C8		;ch4 play So 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 72

	DB			$A7				;Ch2 play Fa#
	DB					$CA		;ch4 play La 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$BA			;Ch3 play La 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB				$B7			;Ch3 play Fa#
	DB					$C7		;ch4 play Fa#
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2

;Section= 73

	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;ch4 play Do#
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB					$24,$00		;Ch4 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B7			;Ch3 play Fa#
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$A3				;Ch2 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 74

	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$01		;Ch4 Octave= 1
	DB			$AC				;Ch2 play Si 
	DB					$C7		;ch4 play Fa#
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB					$C0		;ch4 rest
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB				$23,$02			;Ch3 Octave= 2
	DB				$BC			;Ch3 play Si 
	DB					$C5		;ch4 play Mi 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4

;Section= 75

	DB				$23,$03			;Ch3 Octave= 3
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$C3		;ch4 play Re 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C2		;Ch4 play Do#
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4
	DB			$AC				;Ch2 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB					$C0		;ch4 rest
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$A5				;Ch2 play Mi 
	DB						$D2	;ch5 play Do#
	DB						$4	;Beat=  4

;Section= 76

	DB					$24,$00		;Ch4 Octave= 0
	DB			$A3				;Ch2 play Re 
	DB					$CA		;ch4 play La 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB		$32,$9					;CH2 Volume Level= 09
	DB		$2A,$1D					;CH2 Instrument/Speech= 29
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 77

	DB	$29,$8A						;CH1 Instrument/Speech= 138
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$17				;CH3 Instrument/Speech= 23
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB			$33,$5				;CH3 Volume Level= 05
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$91						;CH0 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$A8				;Ch2 play So 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 78

	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A3				;Ch2 play Re 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$B0			;Ch3 rest
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 79

	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB					$C1		;ch4 play Do 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$C1		;ch4 play Do 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A5				;Ch2 play Mi 
	DB					$C1		;ch4 play Do 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$B0			;Ch3 rest
	DB					$C1		;ch4 play Do 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$A3				;Ch2 play Re 
	DB					$C1		;ch4 play Do 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 80

	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB					$C1		;ch4 play Do 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$B0			;Ch3 rest
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 81

	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$B0			;Ch3 rest
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$A8				;Ch2 play So 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 82

	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$24,$01		;Ch4 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$03	;Ch5 Octave= 3
	DB			$AA				;Ch2 play La 
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$B0			;Ch3 rest
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4

;Section= 83

	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$AA				;Ch2 play La 
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4

;Section= 84

	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$24,$01		;Ch4 Octave= 1
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB				$B0			;Ch3 rest
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB		$32,$A					;CH2 Volume Level= 10
	DB		$2A,$B					;CH2 Instrument/Speech= 11
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$22,$02				;Ch2 Octave= 2
	DB			$A5				;Ch2 play Mi 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 85

	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB					$CC		;ch4 play Si 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$93						;CH0 Instrument/Speech= 147
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 86

	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$21			;CH4 Instrument/Speech= 33
	DB					$24,$04		;Ch4 Octave= 4
	DB					$C8		;ch4 play So 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 87

	DB			$22,$03				;Ch2 Octave= 3
	DB			$A3				;Ch2 play Re 
	DB				$B5			;Ch3 play Mi 
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB			$A5				;Ch2 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB				$B0			;Ch3 rest
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 88

	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$03	;Ch5 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB					$C5		;ch4 play Mi 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 89

	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C8		;ch4 play So 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB				$B0			;Ch3 rest
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4

;Section= 90

	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB						$DC	;ch5 play Si 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BA			;Ch3 play La 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB			$AA				;Ch2 play La 
	DB						$DA	;ch5 play La 
	DB						$4	;Beat=  4
	DB						$25,$03	;Ch5 Octave= 3
	DB			$AA				;Ch2 play La 
	DB					$CA		;ch4 play La 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB				$B0			;Ch3 rest
	DB						$DA	;ch5 play La 
	DB						$4	;Beat=  4
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB						$DA	;ch5 play La 
	DB						$4	;Beat=  4

;Section= 91

	DB						$25,$03	;Ch5 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$C8		;ch4 play So 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CC		;Ch4 play Si 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB			$A5				;Ch2 play Mi 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$00			;Ch3 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C7		;Ch4 play Fa#
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 92

	DB				$23,$01			;Ch3 Octave= 1
	DB			$A8				;Ch2 play So 
	DB				$B3			;Ch3 play Re 
	DB						$D7	;ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB						$D8	;ch5 play So 
	DB						$4	;Beat=  4
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB					$35,$3		;CH5 Volume Level= 03
	DB	$81						;Ch0 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4

;Section= 93

	DB	$80						;Ch0 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB						$D5	;ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$F			;CH4 Volume Level= 15
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$C		;CH5 Volume Level= 12
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB			$22,$01				;Ch2 Octave= 1
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 94

	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB					$C8		;Ch4 play So 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB					$CA		;Ch4 play La 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$CA		;Ch4 play La 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$2	;Beat=  2

;Section= 95

	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2

;Section= 96

	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB			$22,$01				;Ch2 Octave= 1
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C5		;Ch4 play Mi 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$a	;Beat= 10
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$a	;Beat= 10
	DB	$3F						;Song ended
