;la1_n:


;Section=  1

	DB	$E						;Tempo= 170 beat/Min
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$20,$02						;Ch0 Octave= 2
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$2					;CH2 Instrument/Speech= 02
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB		$21,$02					;Ch1 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB		$91					;Ch1 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section=  2

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB		$91					;Ch1 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;ch4 play La 
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section=  3

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB		$91					;Ch1 play Do 
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section=  4

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$4	;Beat=  4
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$CA		;ch4 play La 
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB					$24,$03		;Ch4 Octave= 3
	DB		$91					;Ch1 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section=  5

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$5					;CH2 Volume Level= 05
	DB					$35,$8		;CH5 Volume Level= 08
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$4	;Beat=  4
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B8			;Ch3 play So 
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB					$24,$03		;Ch4 Octave= 3
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section=  6

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB		$91					;Ch1 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;ch4 play La 
	DB						$DA	;ch5 play La 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB		$91					;Ch1 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;ch4 play So 
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section=  7

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB		$91					;Ch1 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$29,$93						;CH1 Instrument/Speech= 147
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB					$24,$03		;Ch4 Octave= 3
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2

;Section=  8

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB					$24,$05		;Ch4 Octave= 5
	DB					$C1		;ch4 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB					$C1		;ch4 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB					$C1		;ch4 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB					$C1		;ch4 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB				$34,$C			;CH4 Volume Level= 12
	DB					$C1		;ch4 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$80						;CH0 Instrument/Speech= 128
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$18				;CH3 Instrument/Speech= 24
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$4		;CH5 Instrument/Speech= 04
	DB				$23,$01			;Ch3 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$C1		;Ch4 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB					$C1		;ch4 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2

;Section=  9

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$5				;CH3 Volume Level= 05
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$04		;Ch4 Octave= 4
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$8					;CH2 Volume Level= 08
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$8				;CH3 Volume Level= 08
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 10

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$D				;CH3 Volume Level= 13
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$05			;Ch3 Octave= 5
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$A8				;Ch2 play So 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$D				;CH3 Volume Level= 13
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$05			;Ch3 Octave= 5
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$D				;CH3 Volume Level= 13
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$05			;Ch3 Octave= 5
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 11

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;ch4 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 12

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$05			;Ch3 Octave= 5
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 13

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$8					;CH2 Volume Level= 08
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$8				;CH3 Volume Level= 08
	DB				$34,$8			;CH4 Volume Level= 08
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 14

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$B7			;Ch3 play Fa#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 15

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 16

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$05			;Ch3 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 17

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB			$AC				;Ch2 play Si 
	DB					$C8		;ch4 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$22,$02				;Ch2 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 18

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$05			;Ch3 Octave= 5
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$05			;Ch3 Octave= 5
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 19

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B3			;Ch3 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 20

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$05			;Ch3 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 21

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$2C,$1			;CH4 Instrument/Speech= 01
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 22

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$B7			;Ch3 play Fa#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$6					;CH2 Volume Level= 06
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 23

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$5					;CH2 Volume Level= 05
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 24

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$8	;Beat=  8
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB		$32,$6					;CH2 Volume Level= 06
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$17				;CH3 Instrument/Speech= 23
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 25

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$A					;CH2 Volume Level= 10
	DB			$2B,$6				;CH3 Instrument/Speech= 06
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$2C,$20			;CH4 Instrument/Speech= 32
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 26

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$8		;CH5 Volume Level= 08
	DB					$2D,$20		;CH5 Instrument/Speech= 32
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CA		;Ch4 play La 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB						$25,$03	;Ch5 Octave= 3
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 27

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB			$33,$8				;CH3 Volume Level= 08
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 28

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$20				;CH3 Instrument/Speech= 32
	DB				$2C,$20			;CH4 Instrument/Speech= 32
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$20		;CH5 Instrument/Speech= 32
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB				$B3			;Ch3 play Re 
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 29

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB			$33,$8				;CH3 Volume Level= 08
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$4	;Beat=  4
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;ch4 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 30

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$2C,$20			;CH4 Instrument/Speech= 32
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$20		;CH5 Instrument/Speech= 32
	DB						$25,$03	;Ch5 Octave= 3
	DB					$CA		;ch4 play La 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB					$24,$03		;Ch4 Octave= 3
	DB					$C2		;ch4 play Do#
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 31

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$4	;Beat=  4
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 32

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$2					;CH2 Volume Level= 02
	DB		$2A,$21					;CH2 Instrument/Speech= 33
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB			$22,$05				;Ch2 Octave= 5
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$32,$3					;CH2 Volume Level= 03
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$4	;Beat=  4
	DB		$32,$6					;CH2 Volume Level= 06
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$80						;CH0 Instrument/Speech= 128
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$24,$00		;Ch4 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$33,$F				;CH3 Volume Level= 15
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2

;Section= 33

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$D			;CH4 Instrument/Speech= 13
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$D			;CH4 Instrument/Speech= 13
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 34

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$04			;Ch3 Octave= 4
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$22,$05				;Ch2 Octave= 5
	DB			$A1				;Ch2 play Do 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 35

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$22,$05				;Ch2 Octave= 5
	DB			$A1				;Ch2 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB		$32,$4					;CH2 Volume Level= 04
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2

;Section= 36

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB		$32,$3					;CH2 Volume Level= 03
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 37

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$C				;CH3 Volume Level= 12
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$2					;CH2 Volume Level= 02
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B8			;Ch3 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$4					;CH2 Volume Level= 04
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB					$24,$02		;Ch4 Octave= 2
	DB			$A7				;Ch2 play Fa#
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2

;Section= 38

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$05				;Ch2 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB		$32,$3					;CH2 Volume Level= 03
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B7			;Ch3 play Fa#
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB			$A6				;Ch2 play Fa 
	DB				$BA			;Ch3 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 39

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A6				;Ch2 play Fa 
	DB				$BA			;Ch3 play La 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB					$C0		;Ch4 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$05				;Ch2 Octave= 5
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB			$A7				;Ch2 play Fa#
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A6				;Ch2 play Fa 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 40

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A2				;Ch2 play Do#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$6					;CH2 Volume Level= 06
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$05				;Ch2 Octave= 5
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 41

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$2A,$1E					;CH2 Instrument/Speech= 30
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB					$24,$02		;Ch4 Octave= 2
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 42

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$05				;Ch2 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B1			;Ch3 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$2	;Beat=  2
	DB		$32,$4					;CH2 Volume Level= 04
	DB		$2A,$21					;CH2 Instrument/Speech= 33
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A3				;Ch2 play Re 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 43

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A1				;Ch2 play Do 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2

;Section= 44

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$3			;CH4 Volume Level= 03
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$22,$02				;Ch2 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 45

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$F				;CH3 Volume Level= 15
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB					$24,$02		;Ch4 Octave= 2
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$CC		;ch4 play Si 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2

;Section= 46

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A2				;Ch2 play Do#
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$A					;CH2 Volume Level= 10
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$D				;CH3 Instrument/Speech= 13
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 47

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$3			;CH4 Volume Level= 03
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$3		;CH5 Volume Level= 03
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 48

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$32,$4					;CH2 Volume Level= 04
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$9					;CH2 Volume Level= 09
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$F					;CH2 Volume Level= 15
	DB			$22,$05				;Ch2 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB					$35,$8		;CH5 Volume Level= 08
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 49

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$A					;CH2 Volume Level= 10
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$6				;CH3 Instrument/Speech= 06
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$2C,$20			;CH4 Instrument/Speech= 32
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 50

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$2D,$20		;CH5 Instrument/Speech= 32
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CA		;Ch4 play La 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB						$25,$03	;Ch5 Octave= 3
	DB					$C5		;ch4 play Mi 
	DB						$D1	;ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BA			;Ch3 play La 
	DB					$C1		;Ch4 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 51

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$02				;Ch2 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$CC		;Ch4 play Si 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 52

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$6				;CH3 Volume Level= 06
	DB			$2B,$20				;CH3 Instrument/Speech= 32
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$20			;CH4 Instrument/Speech= 32
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$20		;CH5 Instrument/Speech= 32
	DB						$25,$03	;Ch5 Octave= 3
	DB				$B3			;Ch3 play Re 
	DB					$CC		;ch4 play Si 
	DB						$D7	;ch5 play Fa#
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 53

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB			$33,$8				;CH3 Volume Level= 08
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$4	;Beat=  4
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;ch4 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 54

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB				$2C,$20			;CH4 Instrument/Speech= 32
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$20		;CH5 Instrument/Speech= 32
	DB						$25,$03	;Ch5 Octave= 3
	DB					$CA		;ch4 play La 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB					$24,$03		;Ch4 Octave= 3
	DB					$C2		;ch4 play Do#
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$CA		;Ch4 play La 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 55

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB				$2C,$6			;CH4 Instrument/Speech= 06
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$4	;Beat=  4
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 56

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$80						;CH0 Instrument/Speech= 128
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$8C						;CH0 Instrument/Speech= 140
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$8D						;CH0 Instrument/Speech= 141
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$8E						;CH0 Instrument/Speech= 142
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$8F						;CH0 Instrument/Speech= 143
	DB	$20,$01						;Ch0 Octave= 1
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2

;Section= 57

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$20,$02						;Ch0 Octave= 2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$83						;CH0 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4

;Section= 58

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$83						;CH0 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB					$35,$C		;CH5 Volume Level= 12
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 59

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$83						;CH0 Instrument/Speech= 131
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 60

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$83						;CH0 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 61

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$83						;CH0 Instrument/Speech= 131
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 62

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$82						;CH1 Instrument/Speech= 130
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$28,$83						;CH0 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$31,$F						;CH1 Volume Level= 15
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$31,$A						;CH1 Volume Level= 10
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$29,$83						;CH1 Instrument/Speech= 131
	DB		$91					;Ch1 play Do 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$29,$91						;CH1 Instrument/Speech= 145
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$29,$90						;CH1 Instrument/Speech= 144
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 63

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$6					;CH2 Instrument/Speech= 06
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$6				;CH3 Instrument/Speech= 06
	DB				$34,$5			;CH4 Volume Level= 05
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$6		;CH5 Instrument/Speech= 06
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$04	;Ch5 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$1					;CH2 Volume Level= 01
	DB			$33,$1				;CH3 Volume Level= 01
	DB				$34,$1			;CH4 Volume Level= 01
	DB					$35,$1		;CH5 Volume Level= 01
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$2					;CH2 Volume Level= 02
	DB			$33,$2				;CH3 Volume Level= 02
	DB				$34,$2			;CH4 Volume Level= 02
	DB					$35,$2		;CH5 Volume Level= 02
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$4					;CH2 Volume Level= 04
	DB			$33,$4				;CH3 Volume Level= 04
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$4		;CH5 Volume Level= 04
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4

;Section= 64

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$6					;CH2 Volume Level= 06
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$6		;CH5 Volume Level= 06
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB		$32,$2					;CH2 Volume Level= 02
	DB			$33,$2				;CH3 Volume Level= 02
	DB				$34,$2			;CH4 Volume Level= 02
	DB					$35,$2		;CH5 Volume Level= 02
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$4					;CH2 Volume Level= 04
	DB			$33,$4				;CH3 Volume Level= 04
	DB				$34,$4			;CH4 Volume Level= 04
	DB					$35,$5		;CH5 Volume Level= 05
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB		$32,$6					;CH2 Volume Level= 06
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$7		;CH5 Volume Level= 07
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 65

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$8					;CH2 Volume Level= 08
	DB			$33,$8				;CH3 Volume Level= 08
	DB				$34,$8			;CH4 Volume Level= 08
	DB					$35,$A		;CH5 Volume Level= 10
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB		$32,$6					;CH2 Volume Level= 06
	DB			$33,$6				;CH3 Volume Level= 06
	DB				$34,$6			;CH4 Volume Level= 06
	DB					$35,$6		;CH5 Volume Level= 06
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$9					;CH2 Volume Level= 09
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$35,$A		;CH5 Volume Level= 10
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB		$32,$A					;CH2 Volume Level= 10
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$34,$A			;CH4 Volume Level= 10
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 66

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$29,$92						;CH1 Instrument/Speech= 146
	DB		$32,$9					;CH2 Volume Level= 09
	DB			$33,$9				;CH3 Volume Level= 09
	DB				$34,$9			;CH4 Volume Level= 09
	DB					$35,$9		;CH5 Volume Level= 09
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$05	;Ch5 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$A					;CH2 Volume Level= 10
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$34,$A			;CH4 Volume Level= 10
	DB					$35,$A		;CH5 Volume Level= 10
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2

;Section= 67

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$D					;CH2 Volume Level= 13
	DB			$33,$D				;CH3 Volume Level= 13
	DB				$34,$D			;CH4 Volume Level= 13
	DB					$35,$D		;CH5 Volume Level= 13
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$CA		;Ch4 play La 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2

;Section= 68

	DB	$28,$88						;CH0 Instrument/Speech= 136
	DB	$81						;Ch0 play Do 
	DB		$91					;Ch1 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$6	;Beat=  6
	DB			$33,$3				;CH3 Volume Level= 03
	DB			$2B,$13				;CH3 Instrument/Speech= 19
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$33,$4				;CH3 Volume Level= 04
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$33,$7				;CH3 Volume Level= 07
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$80						;CH0 Instrument/Speech= 128
	DB			$33,$C				;CH3 Volume Level= 12
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB					$24,$00		;Ch4 Octave= 0
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2

;Section= 69

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB				$23,$01			;Ch3 Octave= 1
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$3					;CH2 Volume Level= 03
	DB		$2A,$7					;CH2 Instrument/Speech= 07
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$5						;CH0 Volume Level= 05
	DB	$28,$0						;CH0 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2

;Section= 70

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$13				;CH3 Instrument/Speech= 19
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$13				;CH3 Instrument/Speech= 19
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$4					;CH2 Volume Level= 04
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$4				;CH3 Volume Level= 04
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$13				;CH3 Instrument/Speech= 19
	DB				$23,$04			;Ch3 Octave= 4
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 71

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$3					;CH2 Volume Level= 03
	DB		$2A,$7					;CH2 Instrument/Speech= 07
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB			$22,$04				;Ch2 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB					$C8		;Ch4 play So 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB					$CA		;ch4 play La 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2

;Section= 72

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$A8				;Ch2 play So 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$2B,$13				;CH3 Instrument/Speech= 19
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C0		;Ch4 rest
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$02				;Ch2 Octave= 2
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 73

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$3					;CH2 Volume Level= 03
	DB		$2A,$7					;CH2 Instrument/Speech= 07
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$13			;CH4 Instrument/Speech= 19
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$5						;CH0 Volume Level= 05
	DB	$28,$0						;CH0 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2

;Section= 74

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A2				;Ch2 play Do#
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$B7			;Ch3 play Fa#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB				$BA			;Ch3 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 75

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$9					;CH2 Volume Level= 09
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 76

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$4			;CH4 Volume Level= 04
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$4		;CH5 Volume Level= 04
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$05			;Ch3 Octave= 5
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 77

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$F			;CH4 Volume Level= 15
	DB				$2C,$1E			;CH4 Instrument/Speech= 30
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$4					;CH2 Volume Level= 04
	DB		$2A,$7					;CH2 Instrument/Speech= 07
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB				$34,$F			;CH4 Volume Level= 15
	DB				$2C,$1E			;CH4 Instrument/Speech= 30
	DB					$24,$04		;Ch4 Octave= 4
	DB					$C8		;ch4 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$22,$04				;Ch2 Octave= 4
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2

;Section= 78

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$03				;Ch2 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB						$2	;Beat=  2
	DB			$AC				;Ch2 play Si 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB			$22,$04				;Ch2 Octave= 4
	DB				$23,$05			;Ch3 Octave= 5
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$05			;Ch3 Octave= 5
	DB				$B1			;Ch3 play Do 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 79

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$F				;CH3 Volume Level= 15
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B8			;Ch3 play So 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 80

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$7			;CH4 Volume Level= 07
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$7		;CH5 Volume Level= 07
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C6		;Ch4 play Fa 
	DB						$D2	;Ch5 play Do#
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$5						;CH0 Volume Level= 05
	DB	$28,$0						;CH0 Instrument/Speech= 00
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$23,$05			;Ch3 Octave= 5
	DB	$81						;Ch0 play Do 
	DB				$B1			;Ch3 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$04			;Ch3 Octave= 4
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$A1				;Ch2 play Do 
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 81

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$F			;CH4 Volume Level= 15
	DB				$2C,$1E			;CH4 Instrument/Speech= 30
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$3					;CH2 Volume Level= 03
	DB		$2A,$7					;CH2 Instrument/Speech= 07
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$7				;CH3 Volume Level= 07
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$34,$F			;CH4 Volume Level= 15
	DB				$2C,$1E			;CH4 Instrument/Speech= 30
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$04		;Ch4 Octave= 4
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$5						;CH0 Volume Level= 05
	DB	$28,$0						;CH0 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$5			;CH4 Volume Level= 05
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A7				;Ch2 play Fa#
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB				$23,$02			;Ch3 Octave= 2
	DB			$A5				;Ch2 play Mi 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;ch4 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A3				;Ch2 play Re 
	DB						$2	;Beat=  2

;Section= 82

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB						$2	;Beat=  2
	DB			$A2				;Ch2 play Do#
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$2C,$7			;CH4 Instrument/Speech= 07
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB				$23,$04			;Ch3 Octave= 4
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B3			;Ch3 play Re 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB				$B7			;Ch3 play Fa#
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$BA			;Ch3 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB		$32,$5					;CH2 Volume Level= 05
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$2C,$0			;CH4 Instrument/Speech= 00
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB				$BA			;Ch3 play La 
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB			$33,$5				;CH3 Volume Level= 05
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$33,$C				;CH3 Volume Level= 12
	DB			$2B,$1E				;CH3 Instrument/Speech= 30
	DB				$23,$04			;Ch3 Octave= 4
	DB				$BA			;Ch3 play La 
	DB					$C0		;ch4 rest
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 83

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$7					;CH2 Volume Level= 07
	DB		$2A,$1					;CH2 Instrument/Speech= 01
	DB			$33,$A				;CH3 Volume Level= 10
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB					$C1		;Ch4 play Do 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB				$B8			;Ch3 play So 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A5				;Ch2 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$0		;CH5 Instrument/Speech= 00
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C1		;Ch4 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B5			;Ch3 play Mi 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB			$22,$03				;Ch2 Octave= 3
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 84

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$2B,$1				;CH3 Instrument/Speech= 01
	DB				$2C,$17			;CH4 Instrument/Speech= 23
	DB					$35,$5		;CH5 Volume Level= 05
	DB					$2D,$17		;CH5 Instrument/Speech= 23
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$D6	;Ch5 play Fa 
	DB						$4	;Beat=  4
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$8	;Beat=  8
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB		$32,$9					;CH2 Volume Level= 09
	DB		$2A,$6					;CH2 Instrument/Speech= 06
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$A			;CH4 Volume Level= 10
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C3		;Ch4 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$82						;CH0 Instrument/Speech= 130
	DB				$23,$03			;Ch3 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 85

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$8					;CH2 Volume Level= 08
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$34,$8			;CH4 Volume Level= 08
	DB				$2C,$1C			;CH4 Instrument/Speech= 28
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB					$24,$02		;Ch4 Octave= 2
	DB					$CC		;ch4 play Si 
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 86

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B3			;Ch3 play Re 
	DB					$CA		;Ch4 play La 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB					$35,$8		;CH5 Volume Level= 08
	DB					$2D,$1C		;CH5 Instrument/Speech= 28
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C2		;Ch4 play Do#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB						$25,$03	;Ch5 Octave= 3
	DB	$81						;Ch0 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C3		;Ch4 play Re 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$8				;CH3 Volume Level= 08
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$02				;Ch2 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B3			;Ch3 play Re 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 87

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB					$24,$02		;Ch4 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B3			;Ch3 play Re 
	DB					$CC		;Ch4 play Si 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB			$33,$9				;CH3 Volume Level= 09
	DB			$22,$03				;Ch2 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$4	;Beat=  4
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B5			;Ch3 play Mi 
	DB					$C1		;Ch4 play Do 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D5	;Ch5 play Mi 
	DB						$2	;Beat=  2
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 88

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB					$35,$8		;CH5 Volume Level= 08
	DB					$2D,$1C		;CH5 Instrument/Speech= 28
	DB						$25,$03	;Ch5 Octave= 3
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB						$25,$02	;Ch5 Octave= 2
	DB					$C3		;ch4 play Re 
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB					$35,$A		;CH5 Volume Level= 10
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 89

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB				$34,$6			;CH4 Volume Level= 06
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$35,$9		;CH5 Volume Level= 09
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$4	;Beat=  4
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;ch4 play Fa#
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4

;Section= 90

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB						$25,$02	;Ch5 Octave= 2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$DA	;Ch5 play La 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB				$2C,$1C			;CH4 Instrument/Speech= 28
	DB					$35,$6		;CH5 Volume Level= 06
	DB					$2D,$1C		;CH5 Instrument/Speech= 28
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$03	;Ch5 Octave= 3
	DB					$CA		;ch4 play La 
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB					$24,$03		;Ch4 Octave= 3
	DB					$C2		;ch4 play Do#
	DB						$D5	;ch5 play Mi 
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB					$C3		;Ch4 play Re 
	DB						$D7	;Ch5 play Fa#
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB			$33,$A				;CH3 Volume Level= 10
	DB				$34,$9			;CH4 Volume Level= 09
	DB				$2C,$19			;CH4 Instrument/Speech= 25
	DB					$35,$9		;CH5 Volume Level= 09
	DB					$2D,$12		;CH5 Instrument/Speech= 18
	DB			$22,$03				;Ch2 Octave= 3
	DB				$23,$02			;Ch3 Octave= 2
	DB					$24,$02		;Ch4 Octave= 2
	DB						$25,$01	;Ch5 Octave= 1
	DB	$81						;Ch0 play Do 
	DB			$A7				;Ch2 play Fa#
	DB				$B7			;Ch3 play Fa#
	DB					$C3		;Ch4 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A8				;Ch2 play So 
	DB				$B8			;Ch3 play So 
	DB					$C5		;Ch4 play Mi 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$AA				;Ch2 play La 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2

;Section= 91

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB				$23,$03			;Ch3 Octave= 3
	DB					$24,$03		;Ch4 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$AC				;Ch2 play Si 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$4	;Beat=  4
	DB						$25,$01	;Ch5 Octave= 1
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB			$22,$04				;Ch2 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A1				;Ch2 play Do 
	DB				$B8			;Ch3 play So 
	DB					$C3		;Ch4 play Re 
	DB						$D1	;Ch5 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D5	;Ch5 play Mi 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4

;Section= 92

	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BA			;Ch3 play La 
	DB					$C7		;Ch4 play Fa#
	DB						$D3	;Ch5 play Re 
	DB						$4	;Beat=  4
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$81						;Ch0 play Do 
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$D0	;Ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$32,$A					;CH2 Volume Level= 10
	DB		$2A,$0					;CH2 Instrument/Speech= 00
	DB			$2B,$0				;CH3 Instrument/Speech= 00
	DB				$34,$C			;CH4 Volume Level= 12
	DB				$2C,$D			;CH4 Instrument/Speech= 13
	DB				$23,$04			;Ch3 Octave= 4
	DB	$81						;Ch0 play Do 
	DB			$A5				;Ch2 play Mi 
	DB				$B1			;Ch3 play Do 
	DB					$CA		;Ch4 play La 
	DB						$D3	;Ch5 play Re 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB				$23,$03			;Ch3 Octave= 3
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D7	;Ch5 play Fa#
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB						$D8	;Ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB				$B0			;Ch3 rest
	DB					$C0		;Ch4 rest
	DB						$DA	;Ch5 play La 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 93

	DB	$30,$C						;CH0 Volume Level= 12
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB		$2A,$19					;CH2 Instrument/Speech= 25
	DB			$2B,$19				;CH3 Instrument/Speech= 25
	DB				$34,$F			;CH4 Volume Level= 15
	DB					$35,$C		;CH5 Volume Level= 12
	DB			$22,$03				;Ch2 Octave= 3
	DB						$25,$00	;Ch5 Octave= 0
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$D8	;Ch5 play So 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$4	;Beat=  4
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$4	;Beat=  4
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB						$4	;Beat=  4
	DB	$30,$A						;CH0 Volume Level= 10
	DB	$28,$85						;CH0 Instrument/Speech= 133
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$28,$81						;CH0 Instrument/Speech= 129
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D0	;ch5 rest
	DB						$2	;Beat=  2

;Section= 94

	DB	$19						;Tempo= 280 beat/Min
	DB	$30,$F						;CH0 Volume Level= 15
	DB	$28,$84						;CH0 Instrument/Speech= 132
	DB	$81						;Ch0 play Do 
	DB			$A3				;Ch2 play Re 
	DB				$BC			;Ch3 play Si 
	DB					$C8		;Ch4 play So 
	DB						$DC	;Ch5 play Si 
	DB						$2	;Beat=  2
	DB					$2D,$7		;CH5 Instrument/Speech= 07
	DB						$25,$05	;Ch5 Octave= 5
	DB						$D7	;ch5 play Fa#
	DB						$2	;Beat=  2
	DB			$A0				;Ch2 rest
	DB				$B0			;Ch3 rest
	DB					$C0		;ch4 rest
	DB						$D3	;ch5 play Re 
	DB						$2	;Beat=  2
	DB					$35,$7		;CH5 Volume Level= 07
	DB						$25,$04	;Ch5 Octave= 4
	DB						$DC	;ch5 play Si 
	DB						$2	;Beat=  2
	DB						$DA	;ch5 play La 
	DB						$2	;Beat=  2
	DB					$35,$3		;CH5 Volume Level= 03
	DB						$D8	;ch5 play So 
	DB						$2	;Beat=  2
	DB						$D0	;ch5 rest
	DB						$14	;Beat= 20
	DB	$3F						;Song ended
